.form .heading {
    font-size: 2rem;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    color: #000 !important;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control,
.form-group.invalid .input {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.6rem;
    height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 36px;
}

.input {
    &__item {
        label,
        input {
            color: $dark-gray;
        }
        padding: 1rem 0;
        i {
            font-size: 0.5rem;
            color: red;
            vertical-align: super;
            padding-left: 2px;
        }
        .input {
            display: flex;
            margin-top: 0.5rem;
            padding: 1rem;
            border: 1px $border-color solid;
            @include respond-to("sm") {
                padding: 0.8rem;
            }

            input,
            textarea {
                flex: 1;
            }
            textarea {
                min-height: 13rem;
                @include respond-to("md") {
                    min-height: 8rem;
                }
            }
        }

        &-checkbox {
            @include flex(flex-end, center, row-reverse);
            margin-left: 15px;
            .input {
                border: none;
                margin-top: 0;
                padding-left: 0;
            }
            i {
                display: none;
            }
        }
    }
}
