include data.pug

block variables

doctype html
html(lang="en")
    head
        //- Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        //- Bootstrap CSS
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        //- Font Awesome
        script(src='https://kit.fontawesome.com/5e7d2a297a.js', crossorigin='anonymous')
        //- Font Poppins
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
        //- CSS
        link(rel='stylesheet', href='./css/styles.css')
        block style

        title PDV
    body
        //- include ../partials/mixin.pug
        //- include ./variables.pug

        //- Header
        include ../partials/header.pug
        //- End Of Header

        main
            block content

        //- Footer
        include ../partials/footer.pug
        //- End Of Footer

        //- Optional JavaScript
        //- jQuery first, then Popper.js, then Bootstrap JS
        script( src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
        script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script( src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous")
        script(src="./js/toast.js")
        script(src="./js/loading.js")
        script(src="./js/formValidation.js")
        script.
            let amountProduct = JSON.parse(localStorage.getItem("product"))
            $(".header__cart-amount").html(amountProduct? amountProduct.length: 0);
        block script 
