html {
    font-size: 62.5%;
}
*,
*:after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: inherit;
}
a:hover {
    text-decoration: none !important;
    color: inherit;
}
ol,
ul {
    list-style: none;
    margin: 0;
}
img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

body {
    line-height: 1.4;
    font-weight: 400;
    font-size: 1.4rem;
    color: $black;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.button {
    border: none;
    outline: none !important;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: center;
}
.button-round {
    padding: 1rem 2rem;
    min-width: 3.4rem;
    @include border-radius(2.5rem);
    @include respond-to("lg") {
        min-width: 10rem;
        padding: 1rem 1.2rem;
        font-size: 1.2rem;
    }
    @include respond-to("md") {
        min-width: 9.5rem;
        padding: 0.7rem 1.2rem;
        font-size: 1.2rem;
    }
}
.button-round--lg {
    @extend .button-round;
    padding: 1.2rem 2.5rem;
    min-width: 13rem;
    @include respond-to("md") {
        min-width: 11rem;
        padding: 0.9rem 1.7rem;
        font-size: 1.2rem;
    }
}

.button-green {
    text-transform: uppercase;
    background-color: $green;
    color: $white !important;
}
.button-white {
    text-transform: uppercase;
    background-color: $white;
    color: $green !important;
    border: 1px $green solid;
}
input,
textarea,
select,
option,
button {
    border: none;
    outline: none !important;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
}

.icon {
    @include flex(center, center);
}
.icon-round {
    @include square(4rem, 50%);
    border: 1px #dddcdc solid;
    &:hover {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
    @include respond-to("lg") {
        @include square(3rem, 50%);
        font-size: 1.2rem;
    }
}
.icon-round-sm {
    @include square(2.5rem, 50%);
    border: 1px #dddcdc solid;
    font-size: 1.2rem;

    &:hover {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
}

input {
    border: none;
    outline: none !important;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
}
.text-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-clamp--1 {
    -webkit-line-clamp: 1;
}
.text-clamp--2 {
    -webkit-line-clamp: 2;
}
.text-clamp--3 {
    -webkit-line-clamp: 3;
}
.text-clamp--4 {
    -webkit-line-clamp: 4;
}
.text-clamp--5 {
    -webkit-line-clamp: 5;
}
