.cart {
    padding-bottom: 10rem;

    @include respond-to("md") {
        padding-bottom: 6rem;
    }

    &__title-main {
        padding: 1rem 0 5rem;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 600;
        color: $green;
        @include respond-to("md") {
            padding: 0 0 2rem;
        }
    }
    &__table {
        th,
        td {
            text-align: center;
            vertical-align: middle;
            @include respond-to("md") {
                font-size: 1.2rem;
            }
        }
        th {
            background-color: $green;
            color: $white;
            text-transform: uppercase;
            font-size: 1.3rem;
            height: 3rem;
        }

        td {
            &:nth-child(1) {
                max-width: 7rem;
            }
            &:nth-child(2) {
                font-size: 1.6rem;
                @include respond-to("lg") {
                    font-size: 1.4rem;
                }

                @include respond-to("md") {
                    font-size: 1.2rem;
                }
            }

            i {
                font-size: 1.5rem;
                opacity: 0.7;
            }
        }
    }
    &__name {
        color: $green;
        text-transform: uppercase;
        font-weight: 500;
    }
    &__amount {
        display: inline-block;
        border: 1px $border-color solid;
        overflow: hidden;
        padding: 0.7rem 1rem;
        input {
            @include width-height(2rem, auto);
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
    &__total {
        color: $green;
        td {
            padding-left: 7rem;
            height: 6rem;
            vertical-align: middle;
            font-weight: 500;

            &:nth-child(1) {
                text-transform: uppercase;
            }

            @include respond-to("lg") {
                padding-left: 4rem;
            }
            @include respond-to("md") {
                padding-left: 1rem;
                height: 4rem;

                font-size: 1.3rem;
            }
        }

        tfoot {
            background-color: $green;
            color: $white;
        }
    }
    &__nonProduct {
        &-img {
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 30.25%;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 33%;
                height: 100%;
            }
        }
        p {
            color: $dark-gray;
            padding: 2rem 0;
        }
    }
}
#cartModal {
    top: 20%;

    .modal {
        &-dialog {
            max-width: 55rem;
        }
        &-content {
            padding: 1.5rem;
        }
        &-header,
        &-footer {
            border: none;
        }
        &-body {
            display: flex;
            gap: 3rem;
            min-height: 10rem;
        }
        &-title {
            font-size: 2.1rem;
            color: #ee4d2d;
            margin-top: 1.875rem;
        }
        &__img {
            max-width: 30%;
        }
        &__cart-name {
            font-size: 1.9rem;
        }
        &__warning {
            font-size: 1.6rem;
            padding-top: 1rem;
        }
    }
    .btn {
        font-size: 1.4rem !important;
        padding: 0.6rem 0;
        width: 50%;
    }
    .icon-warning {
        font-size: 4rem;
        color: #ffd43b;
    }
}
