.register {
    padding-bottom: 8rem;

    &__title {
        h2 {
            padding: 2em 0 1rem;
            font-size: 1.8rem;
            font-weight: 600;
            color: $green;
        }
    }
}
