extends ../base/base.pug

include ../components/input.pug
include ../partials/mixin.pug

block variables

block content
    article.register 
        .container 
            .register__container 
                +page('Đăng ký')
                .register__content
                    form#register(action="#")
                        .register__title 
                            h2.text-uppercase thông tin cá nhân 
                        .row
                            .col-sm-6.col-12 
                                +input("Họ và tên", "text", "name")
                            .col-sm-6.col-12 
                                +input('Số ĐT', 'tel', 'phone')
                            .col-sm-6.col-12 
                                +input('Địa chỉ email', 'email', 'email')
                            .col-sm-6.col-12 
                                +input('Website của bạn', 'url', 'url')
                        .row 
                            +input("Đăng ký nhận thông tin quan email", "checkbox", "checkNote")
                        .register__title 
                            h2.text-uppercase Thông tin tài khoản 
                        .row
                            .col-sm-6.col-12 
                                +input('Mật khẩu', 'password', 'password')
                            .col-sm-6.col-12 
                                +input('Nhập lại mật khẩu', 'password', 'rePassword')
                        .row.mt-4
                            .col-12 
                                button(type="button") 
                                    a.button.button-round--lg.button-white.mr-4(href="index.html") Quay lại
                                button.button.button-round--lg.button-green Đăng ký
block script 
    script(src="./js/register.js") 
